*{
    box-sizing: border-box;
    /* -moz-box-sizing: border-box; */
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: #007bff;
}
header{
position: fixed; 
  top: 0;        
  left: 0;       
  width: 100%;    
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px #0000001a; 
  z-index: 1000;  
  margin-bottom: 20px;
  height: 60px;
}
header ul{
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: #007bff;
    right: 5%;
    position: absolute;
}
ul li{
  list-style-type: none;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}


#table{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px #00000033;
}

#table-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

#table-table td, #table-table th {
    text-align: center;
    padding: 8px;
}

#table-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

#table-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


#table-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

#table-table tr:nth-child(even) {
    background: #F8F8F8;
}


#search-header{
    cursor: pointer;
}


/* for mobile device: */
@media (max-width: 767px) {
    #table-table {
        display: block;
        width: 100%;
    }
    #table:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    #table-table thead, #table-table tbody, #table-table thead th {
        display: block;
    }
    #table-table thead th:last-child{
        border-bottom: none;
    }
    #table-table thead {
        float: left;
    }
    #table-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    #table-table td, #table-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    #table-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    #table-table tbody tr {
        display: table-cell;
    }
    #table-table tbody tr:nth-child(odd) {
        background: none;
    }
    #table-table tr:nth-child(even) {
        background: transparent;
    }
    #table-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    #table-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    #table-table tbody td {
        display: block;
        text-align: center;
    }
}