#h-load{
  display: none;
}
#Loading {
  margin: auto;
  width: 350px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}

#Loading,
#Loading:before,
#Loading:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #007bff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #007bff 96%,#0000) 0 50%/80% 20% repeat-x;
}
#Loading:before,
#Loading:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
#Loading:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}