.bottom-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}

#resetspeed {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-image: var(--back);
  width: 75px;
  color: white;
  flex-shrink: 0;
}

.slider-container {
  text-align: center;
  background: #ffffff1a;
  border-radius: 15px;
  position: relative;
  width: 300px;
  flex-shrink: 0;
}

#random {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-image: var(--back);
  width: 100px;
  color: white;
  flex-shrink: 0;
}

#sleep {
  cursor: pointer;
  font-size: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-image: var(--back);
  width: 50px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}


@media (max-width: 1500px) {
 .bottom-controls {
    width: 90%;
    top: -30%;
    position: relative;
}
}
@media (max-width: 775px) {
  #card {
    width: 90%;
    height: 85%;
    top: 35%;
    left: 5%;
}
#playlist{
  z-index: 100;
}
}