  #head-keyword{
      display: none; 
      margin-top: 50px; 
      margin-left: 100px; 
      z-index: 10;
    }
    
  #keyword-shorcut {
    height: 85%;
    width: 100%;
    background-color: #1f1d1d;
    border-radius: 25px;
    color: gray;
    font-size: 30px;
    padding: 40px; 
    position: relative; 
    display: flex;
    gap: 50px; 
    align-items: center; 
}

.fa-xmark {
    cursor: pointer;
    font-size: 50px;
    position: absolute; 
    top: 10px;    
    right: 15px;  
    color: #bfbfbf;  
}

#left p, #left div, #right div {
    border: 1px solid gray; 
    padding: 10px;        
    margin-bottom: 15px;   
    border-radius: 5px;  
    text-align: center;   
}

#keyword-shorcut-message{
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #b2beb5;
    font-size: 14px;
    text-align: center;
}
